<div class="totalBG"*ngIf="images != undefined" [ngStyle]="{'background-image': 'url(' + images.imageUrl + ')'}"></div>
<div *ngIf="currentPoints!=0" class="pointsContainer">
  <p class="points" > {{ currentPoints | number: '1.0-0'}}</p>
 </div>

<div class="progress">
  <div class="bar">
    <div class="progress-value"></div>
  </div>
</div>


<div class="npcContainer" *ngIf="npc!==undefined">
  <img class="npcImg" [src]="npc.img">
  
</div>

<div class="speech-bubble" *ngIf="npc!==undefined && speechVisible===true">
  <p class="npcMessage">{{npcLine}}</p>
</div>

<div class="imageFindContainer" *ngIf="images != undefined">
  <ng-container *ngFor="let area of areas"> 
    <div *ngIf="area.founded" class="red-x" [ngStyle]="{'top': area.centerY + 'px', 'left': area.centerX + 'px', 'width': area.width + 'px', 'height': area.height + 'px'}">
     </div> 
    </ng-container>
<div class="hintContainer" *ngIf="hintVisible"[style.left.px]="hintPosition.x" [style.top.px]="hintPosition.y">
  <img [src]="hintImage">
</div>
<div class="correctContainer" *ngIf="correctVisible"[style.left.px]="clickPosition.x" [style.top.px]="clickPosition.y">
  <img [src]="correctImage">
</div>
  <img *ngIf="!zoomActive" [src]="images.imageUrl" usemap="#imageMap" id="findImage" alt="Find Image" width="100%">
  <map name="imageMap" *ngIf="images.areas != undefined">
    <area class="areas"*ngFor="let area of images.areas"
          [attr.shape]="area.shape"
          [attr.coords]="area.newCoords"
          [attr.alt]="area.name"
          (click)="findClick($event,area)">
        </map>
        <app-image-magnifier *ngIf="zoomActive && images.areas!=undefined"
                             [imageSrc]="images.imageUrl"
                             [areas]="images.areas"
                             [findClickHandler]="findClick">
        </app-image-magnifier>
</div>



  <div class="toFindContainer" *ngIf="images!=undefined && images.isSpecial!=true" >
    <img *ngFor="let itemFind of images.areas, let i = index" [src]="itemFind.img"[ngClass]="{'founded-class': itemFind.founded}">
  </div>

  <div class ="objectiveContainer" *ngIf="images!=undefined && images.isSpecial == true" [ngClass]="{'minicontainer':currentLevel === 8 || currentLevel===10}">
    <div class = "checkContainer"*ngFor="let objective of images.objectives">
      <input type="checkbox" [checked]="objective.checked" class="uv-checkbox" disabled id="{{ objective.text }}">
      <label for="{{ objective.text}}"class="uv-checkbox-label"> 
        <div class="uv-checkbox-icon">
        <svg viewBox="0 0 24 24" class="uv-checkmark">
          <path d="M4.1,12.7 9,17.6 20.3,6.3" fill="none"></path>
        </svg>
      </div>
      <span class="uv-checkbox-text">{{ objective.text }}</span></label>
    </div>
  </div>
  <div class="zoomImg"(click)="activateZoom()">
    <img class="zoomIcon" src="http://localhost:3000/public/images/zoom.png" alt="zoom icon" [ngClass]="{'zoomActive':zoomActive, 'zoomInactive':!zoomActive}">
  </div>
  <div class="hintImg"(click)="askAHint()">
    <img class="hintIcon" src="http://localhost:3000/public/images/occhialazzi.png" alt="zoom icon" >
   
    <div class="progress-donut" *ngIf="timerVisible">
      <svg viewBox="0 0 36 36">
        <circle class="circle-bg"
                cx="18" cy="18" r="15.9155" />
        <circle class="circle"
                cx="18" cy="18" r="15.9155"
                [attr.stroke-dasharray]="circumference"
                [attr.stroke-dashoffset]="dashOffset" />
      </svg>
      <span class="timer">{{ cdLeft/10 }}s</span>
    </div>
  </div>
   <div *ngIf="timerVisible" class="clickBlock">
   </div>
   <div class="fade" *ngIf="fadeOut" [ngClass]="{'fading': fadeOut===true}"></div>
  <app-side-menu (resetLevel)="resetLevel()"></app-side-menu>
