<div class="storyContainer" [ngStyle]="{'background-image': 'url(' + currentBackground + ')'}">
    <div *ngIf="npcSlots.left"class="npcLeft">
        <img  [src]="npcSlots.left.img"[ngClass]="{'active': lastActiveSlot === 'left', 'inactive': lastActiveSlot !== 'left'}">
    </div>
    <div *ngIf="npcSlots.right"class="npcRight mirrored ">
        <img  [src]="npcSlots.right.img"[ngClass]="{'activeRight': lastActiveSlot === 'right', 'inactive': lastActiveSlot !== 'right'}">
    </div>
    <div class="chatLog" *ngIf="logOpen">
        <h1>Chat Log</h1>
        <div class="logs" >
         <ng-container  *ngFor="let dialogue of logs; let i = index">
          <div  *ngIf="i <=currentLine && dialogue!==null">
          <p><b>{{dialogue.npc | uppercase}}</b><span [innerHTML]="dialogue.line"></span></p>
          </div>
         </ng-container>
        </div>
        <button (click)="closeLog()">X</button>
    </div>
    <div class="summaryContainer" *ngIf="skipOpen">
        <p class="summary">{{story.summary}}</p>
        <div class="buttonContainerSkip">
        <button (mouseenter)="playSound()" (click)="closeSkip()">Return</button>
        <button (mouseenter)="playSound()" (click)="nextPage()">Confirm</button>
    </div>
    </div>
    <div class="dialogueContainer">
        <div class="buttonContainer">
            <button (mouseenter)="playSound()" (click)="nextDialogue()"> Next</button>
            <button (mouseenter)="playSound()" (click)="showLog()"> Log</button>
            <button (mouseenter)="playSound()" (click)="skipDialogue()"> Skip</button>
            <button (mouseenter)="playSound()" (click)="toggleAutoMode()"> Auto</button>
        </div>
    </div>
        <h1 class="npcName" >{{currentDialogue.npc}}</h1>
        <p #dialogueText class="typewriter" [ngClass]="{'glitchstein':currentDialogue.npc=='DR. GLITCHSTEIN'}" [ngStyle]="{'--widthCh': widthCh, '--timePerLine': lineTime, '--numberLine':numberLine}"  (keydown.space)="resetTimePerLine()" [innerHTML]="interpolatedLine"></p>
       
    <button *ngIf="isAutoMode" class="autoSymbol" (click)="toggleAutoMode()">
        <img id="fwd1" src="https://find-it-genious.onrender.com/public/images/fwd.png"> 
        <img id="fwd2" src="https://find-it-genious.onrender.com/public/images/fwd.png">
<span>AUTO</span></button>
    <button *ngIf="!isAutoMode" class="autoOff">
        <img id="pause" src="https://find-it-genious.onrender.com/public/images/pause.png">
    OFF</button>
</div>
<div *ngIf="skipOpen || logOpen || isAutoMode" class="blockClick" (click)="closeOpen()"></div>