<div class="totalBG"></div>
<div class="selectorContainer">
    <h1>LEVEL SELECTOR</h1>
    <div *ngIf="levels!=undefined">
        <button (mouseenter)="playSound()" *ngFor="let level of levels, let i = index" 
            [routerLink]="'/level/' + (i+1)" 
            [ngStyle]="maxLevel >= i ? 
            {'background-image': 'url(' + level.imageUrl + ')'} : {'background-color': 'grey'}">
          <span>Level {{i + 1}}</span>
          <div class="rating">
            <ng-container *ngFor="let star of [1, 2, 3]">
                <input type="radio" 
                [id]="'star-' + (i + 1) + '-' + star" 
                [name]="'star-radio-' + (i + 1)" 
                [value]="star" 
                [checked]="star <= selectedStars[i]" 
                (change)="selectedStars[i] = star" 
                [disabled]="true"
                >
                <label [for]="'star-' + (i + 1) + '-' + star" [ngClass]="{'animated-star': star <= selectedStars[i]}">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path pathLength="360" d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                  </svg>
                </label>
              </ng-container>
          </div>
        </button>
      </div>
      <div *ngIf="maxLevel === 13">
        <button id="finalLevel" [routerLink]="'/finalLevel'"><span>Final Level</span></button> 
      </div>
    </div>
    <app-side-menu></app-side-menu>
