  <input type="checkbox" id="check">
<label for="check" [ngStyle]="{'cursor': 'url(' + apiUrl + '/public/customCursor_1.cur), auto'}">
  <i class="fas fa-bars" id="btn"></i>
  <i class="fas fa-times" id="cancel"></i>
</label>
<div class="sidebar" [ngStyle]="{'cursor': 'url(' + apiUrl + '/public/customCursor_1.cur), auto'}">
  <header>Menu</header>
  <a (mouseenter)="playSound()" (click)="continue()">
    <i class="fas fa-play"></i>
    <span>Continua</span>
  </a>
  <a (mouseenter)="playSound()" routerLink="/selector">
    <i class="fas fa-qrcode"></i>
    <span>Livelli</span>
  </a>
  <a (mouseenter)="playSound()" routerLink="/characters">
    <i class="fas fa-user-friends"></i>
    <span>Personaggi</span>
  </a>
  <a (mouseenter)="playSound()" (click)="openAudioSettings()">
    <i class="fas fa-volume-up"></i>
    <span>Audio</span>
  </a>
  <a (mouseenter)="playSound()" routerLink="/leadboard">
    <i class="fas fa-list-ol"></i>
    <span>Leaderboard</span>
  </a>
  <a (mouseenter)="playSound()" (click)="onReset()" [ngClass]="{'grey':path!='level'}">
    <i class="fas fa-history"></i>
    <span>Level Reset</span>
  </a>
  <a (mouseenter)="playSound()" routerLink="/credits/1">
    <i class="far fa-question-circle"></i>
    <span>Credits</span>
  </a>
  <a (mouseenter)="playSound()" (click)="logOut()">
    <i class="fas fa-sign-out-alt"></i>
    <span>Logout</span>
  </a>
</div>


<div class="audioSettings" *ngIf="audioOpen">
  <div>
    <label for="bgmusic-volume">BG Music Volume</label>
    <input id="bgmusic-volume" type="range" min="0" max="100" [value]="bgMusicVolume" (input)="onVolumeChange('BGMusic', $event)" />
    <span>{{ bgMusicVolume }}</span>
  </div>

  <div>
    <label for="bgAudio-volume">BG Audio Volume</label>
    <input id="bgAudio-volume" type="range" min="0" max="100" [value]="bgAudioVolume" (input)="onVolumeChange('BGAudio', $event)" />
    <span>{{ bgAudioVolume }}</span>
  </div>

  <div>
    <label for="sfx-volume">SFX Volume</label>
    <input id="sfx-volume" type="range" min="0" max="100" [value]="sfxVolume" (input)="onVolumeChange('SFX', $event)" />
    <span>{{ sfxVolume }}</span>
  </div>

  <button (click)="closeAudioSettings()">X</button>
</div>
<div class="blockClick" (click)="outClick()"></div>

