<div class="creditsContainer">
    <div class="credits">
        <div class="content">
            <h1>Find It Genious!</h1>
            <h2>Thanks for Playing</h2>
            <h3>This game was made just for pratices and fun. I have no rigths on used images, used sounds or used videos.</h3>
            <p>Code: Simone Zavaglia</p>
            <p>Grapich and Photoshopping: Simone Zavaglia</p>
            <p>Music Downloader Supervisor: Simone Zavaglia</p>
            <p>Writer: Simone Zavaglia</p>
            <p>Best Team Member: Simone Zavaglia</p>
            <p>Best Team Assistent: Simone Zavaglia</p>
            <h3> I personaggi sono ispirati a persone e fatti reali per davvero. <br> Se vi riconoscete in essi chiaramente siete stati spiati dai miei droni per rubare informazioni sulla vostra vita.</h3>
            <h3>A real thanks and shoutout to all the artist that i used in this project and thanks to the free trial of a lot of sites to made this possible.</h3>
            <p>Good Ending Music: <b> Soon </b></p>
            <p>Bad Ending Music:<b> Violet Burn by <a href="https://www.youtube.com/channel/UCwd8uu2mtJUgHYRffUl2yPQ">Seccession Studio</a></b> </p>
            <p>Opening Music: </p>
            <p>Normal Level Music: </p>
            <p>Final Level Music: <b>OGRE - The Bench </b></p>
            <p>Investigation Music: <b>Mystery by <a href="https://www.youtube.com/@weefreemusic"> Wee Free Music</a></b> </p>
            <p>Digital World Music: <b>The Grid by <a href="https://youtu.be/6vZmK3pqRgA"> Per Kiilstofte</a> </b> </p>
            <p>A lot of Sounds from: <b>Effecism</b> </p>
            <p>A lot of Sounds from: <b>Sound Bite</b> </p>
            <p>A lot of Sounds from: <b>All-in One Channel</b> </p>
            <p>A lot of Sounds from: <b>Mr.Sound Effects</b> </p>
            <p>Dr Zweistein base design by : <a href="https://www.vectorstock.com/royalty-free-vectors/vectors-by_pikepictur">pikepictur</a> </p>
            <p>A lot of base design from:<b> Freepik </b></p>
            <p>A lot of base design from: <b>Dreamstime.com</b> </p>
            <p>A lot of base design from:<b> VectorStock </b></p>
            <p>A lot of base design from: <b>PngTree</b> </p>
            <p>A lot of base design from: <b>Adobe Stock</b> </p>
            <p>A lot of base design from:<b>Depositphotos </b> </p>
            <p>Front End :<b>Angular</b></p>
            <p>Back End :<b>Node.Js</b></p>
            <p>Database :<b>Mongo Db</b></p>
            <img class="marsh"  [src]="marshImg">
            <img class ="ezio"  [src]="ezioImg">
            <img class="magda"  [src]="magdaImg">
            <img class ="isobald"  [src]="isobaldImg">
            <img class="zwei"  [src]="zweiImg">
            <img class="logo" [src]="apiUrl + '/public/images/logo.png'" >

            <h1>Grazie per aver giocato. Spero sia stato simpatico,altrimenti sticatzi!</h1>
            <a>ilmiogit</a>
            <a>Visita la mia pagina portfolio</a>
            <button class="return" routerLink="/menu" (mouseenter)="playSound()">Menu Principale</button>
        </div>
    </div>

</div>
