.img-magnifier-container {
    position: relative;
  }
  
  .magnifiable-image {
    width: 100%;
    height: auto;
  }
  
  .img-magnifier-glass {
    position: absolute;
    border: 3px solid #000;
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
    background-repeat: no-repeat; 
    display: none;
  }
  
  .img-magnifier-glass img {
    position: absolute;
    border-radius: 50%;
  }

