<div class="messageContainer">
    <div *ngIf="messageVisible" class="messageBox">
        <p>{{message}}</p>
        <div class="buttonContainer">
         <button (mouseenter)="playSound()" (click)="next()">Sì</button>
         <button (mouseenter)="playSound()" (click)="startTutorial()">No</button>
        </div>
    </div>
    <div *ngIf="inputVisible" class="inputBox">
        <h2>·Input e Tasti·</h2>
        <h3> Livello di gioco</h3>
        <ul class="input-list">
            <li>
                <img src="https://find-it-genious.onrender.com/public/customCursor_1.cur">
                <span>Clicca con il mouse sugli oggetti da trovare!</span>
            </li>
            <li>
                <img src="https://find-it-genious.onrender.com/public/images/occhialazzi.png">
                <span>Clicca sugli Occhialazzi™ per farti indicare un oggetto mancante.(Ti verranno detratti punti)</span>
            </li>
            <li>
                <img src="https://find-it-genious.onrender.com/public/images/zoom.png">
                <span>Clicca sull'icona per attivare una lente di ingrandimento.(Ti verranno detratti punti)</span>
            </li>
            <li>
                <img src="https://find-it-genious.onrender.com/public/images/zoom.png">
                <span>Clicca sul quadrato in alto a destra dello schermo per aprire il menù.</span>
            </li>
            <li>
            <span>Trova tutti gli oggetti più velocemente possibile per ottenere il maggior numero di punti!</span>
            </li>
         </ul>

        <h3> Dialoghi </h3>
        <ul class="input-list">
            <li>
                <img src="https://find-it-genious.onrender.com/public/images/inputs.png">
                <span>Utilizza i tasti per progredire nel dialogo, leggere i log o saltare la scena.</span>
            </li>
        <img src="https://find-it-genious.onrender.com/public/images/space.png"><span>Utilizza questo tasto sulla tastiera per completare il caricamento della linea di dialogo.</span>
        <img src="https://find-it-genious.onrender.com/public/images/enter.png"><span>Utilizza questo tasto sulla tastiera per progredire nel dialogo.</span>
        <img src="https://find-it-genious.onrender.com/public/images/tab.png"><span>Utilizza questo tasto sulla tastiera per aprire e chiudere i log.</span>
        <img src="https://find-it-genious.onrender.com/public/images/shift.png"><span>Utilizza questo tasto sulla tastiera per automatizzare il dialogo.</span>
        <button (mouseenter)="playSound()" (click)="skipTutorial()">Ho capito!</button>
        
        </ul>
  
    </div>
</div>
